.category-page-container {
  display: flex;
  height: 100%;
  margin-left: 30px;
}

.category-page-images {
  margin: -10% 0% -8% 0%;
  float: left;
  width: 80%;
  padding: 10px;
}

.sport-desc {
  margin-top: 80px;
  width: 50%;
  padding: 10px;
}

.sport-image {
  margin-top: 190px;
  float: left;
  width: 50%;
  padding: 60px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.img1-landing {
  margin-top: 50px;
}
