.container {
    background-color: #F0FFFF !important;
}

.blueContainer {
    background-color: #243972;
}

.blackContainer {
    background-color: #000000;
    border-color: #FF3CBE;
    border-radius: 20px;
    padding: 2px 150px 2px;
    font-size: 32px;
    font-weight: bold;
    text-align: center
}

.historyContainer {
    background-color: #FFFFFF !important;
    box-shadow: 15px 15px 15px 10px rgba(0, 0, 0, 0.2);
    height: 210px;
    width: 95%
}

.coach-info {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 120px 10px
}

.linkText {
    color: #2EA7FF;
    font-size: 32px;
    font-weight: bold;
}

.tableText {
    font-size: 18px;
    color: #000000;
    font-weight: 500
}

#showHistoryBtn {
    color: #404CB2;
    font-size: 12px;
    font-weight: bold;
    border-color: transparent;
    background-color: #FFFFFF
}