#rightContainer {
    background-color: #D9D9D9;
    margin-right: 40px;
}

#aboutCard {
    background-color: #FFFFFF !important;
    height: 150px !important;
    width: 1450px !important;
}

.btnStyle {
    background-color: transparent;
    border-color: #DA8300;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.uploadBtn {
    background-color: transparent;
    border-color: #DA8300;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20%;
}

.titleStyle {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.greyTitle {
    color: #808080;
    font-size: 18px;
}

.d-flex input {
    background-color: transparent;
    border-color: transparent;
    width: 50%
}