#coachInfoCard {
    height: 20rem !important;
    width: 40rem !important;
    background-color: #FFFFFF !important;
    border-color: transparent;
    border-radius: 8px;
}

#btn {
    background-color: #255B9B;
    border-radius: 10px;
    font-size: 19px
}

#aboutText {
    font-size: 10px;
    color: #000000;
}

.secondContainer {
    height: 38rem !important;
    width: 42rem !important;
    background-image: linear-gradient(#0E86D4, #000000) !important;
    ;
}

.tableContainer {
    background-color: #425EF3 !important;
    font-size: 15px;
    color: #000000;
}

#coach-data {
    color: #808080;
    font-size: 14px
}