.navbar {
    padding-top: 5px;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    font-style:Raleway;
    background-image: linear-gradient(rgb(214, 202, 202), white, white, #ffffff3b);
    height: 87px;
  }
  .navbar a {
    padding: 16px;
    color: rgb(1, 1, 1);
    text-decoration: none;
    font-size: 20px; 
    margin-left: 20px;
    cursor: pointer;
  }
  .navbar a:hover {
    /* background-color: #cbf2e8; */
    font-size: 20px;
    font-weight: bold;
  }
  .active {
    margin-left: 40px;
  
  }
  .navbarContant{
    width: 607px;
height: 26px;
top: 43px;
left: 658px;
margin-top: 1%;
margin-left: 8%;

  }
  .placeholderSpan{
    /* width: 184px; */
    width: 184px;
height: 26px;
left: 423px;
border-radius: 16px;

/* height: 26px; */
/* width: 30%; */
/* border-radius: 16px; */
color: rgba(37, 37, 37, 0.7);
margin: -4% 0% 0% 74%;
display: table;
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
padding: 1%;

  }

  .search-icon {
    border: 1.2px solid rgba(37, 37, 37, 0.7);
    width: 11px;
height: 11px;
top: 7px;
left: 433px;
border: 1.2px;

  }
  .SearchChhotu{
    width: 140px;
    height: 18px;
    top: 4px;
    left: 461px;
    
  }