.navbar {
    padding-top: 5px;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    font-style:Raleway;
    background-image: linear-gradient(rgb(214, 202, 202), white, white, #ffffff3b);
    height: 87px;
  }
  .navbar a {
    padding: 16px;
    color: rgb(1, 1, 1);
    text-decoration: none;
    font-size: 20px; 
    margin-left: 20px;
    cursor: pointer;
  }
  .navbar a:hover {
    /* background-color: #cbf2e8; */
    font-size: 20px;
    font-weight: bold;
  }
  .active {
    margin-left: 40px;
  
  }
  .navbarContant{
    width: 607px;
height: 26px;
top: 43px;
left: 658px;
margin-top: 1%;
margin-left: 8%;

  }

  .search-Nav {
    position: relative;
    top: 8px;
    left: 10px;
    color: gray;
color: rgba(37, 37, 37, 0.7);
margin: -6% 0% 0% 74%;
display: table;
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

  }
  