.footer {
    background-color: #D3D3D3;
}

#heading {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#subHeading {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.iconStyle {
    border-radius: 30px;
    height: 28px;
    width: 28px;
    margin-left: 30px
}